<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Login</h1>

    {{ . }}

    <h1>Posted Credentials</h1>
    <ul>
        <li>Username: {{ .Username }}</li>
        <li>Password: {{ .Password }}</li>
    </ul>

    <form method="POST" action="/form">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="Submit" />
    </form>

  </body>
</html>