<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ .Settings.AppName }}</title>
  </head>
  <body>
    <div>I am some html</div>
    <div>{{ .Name }}</div>
    <div>{{ .Settings.AppName }}</div>
  </body>
</html>